
/* Your CSS Code here. */
#name,#age,#password,#email,#laptop,#dob,#portfolio{
    color: red;
	background-color: lightblue;
	font-size:20px;
	margin:10px 10px 10px 10px;
	border:0px;
	box-shadow: 2px 2px;
 text-align: center;
}	
button{
	color: white;
	text-align:center;
border:solid black 2px;
	box-shadow: 10px 10px 5px lightblue;
	background-color: black;
	width:100px;
	height:30px;
	
}
div{
	 display: flex; /* or display:grid */
  justify-content: center;
	 align-items: center;
}
button:hover{
	color:red;
	box-shadow: 10px 10px 5px lightblue;
	background-color: skyblue;
	border:0px;
	 border-radius: 30%;
	
}
}
}
	
